@import "shared/reset";
@import "shared/common";
@import "shared/book";

@include lulu-premium-6-by-9-60lb-cream;

.title-page h1 {
  font-size: 240%;
  margin-top: 6em;
}

.title-page h2 {
  font-size: 180%;
  margin-top: 3em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.title-page h3 {
  font-size: 140%;
  margin-top: 0.75em;
}

.title-page h4 {
  margin-top: 8em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.title-page h5 {
  margin-top: 1em;
}
