@import "shared/reset";
@import "shared/common";
@import "shared/cover";

@include lulu-premium-6-by-9-60lb-cream($page-count: 104);

$black: #1a1515;
$red: #961f0d;

@page {
  background-color: $black;
}

body {
  color: #fff;
  line-height: 1.1;
  font-weight: bold;
}

.red-stripe {
  background-color: $red;
  bottom: 2in;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

b {
  font-size: 125%;
}

.contents {
  padding: 1in;
  text-align: center;
}

h1 {
  margin-top: 0.5in;
  font-size: 32pt;
}

h2 {
  margin-top: 2.3in;
  font-size: 22pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

img {
  margin-top: 1in;
  width: 2in;
}

.spine {
  bottom: 2in;
}

.spine-text {
  font-size: 11pt;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
