--- title: "The Proletarian Revolution and the Renegade Kautsky"
<div class="red-stripe"></div>
<section class="back-face"></section>
<section class="spine">
  <div class="spine-text">The Proletarian Revolution and the Renegade Kautsky</div>
</section>
<section class="front-face">
  <div class="contents">
    <h1>The Proletarian Revolution and the Renegade Kautsky</h1>
    <img src="images/marx-engels-lenin.svg">
    <h2>V. I. Lenin</h2>
  </div>
</section>
