@import "shared/reset";
@import "shared/common";
@import "shared/book";

@include lulu-premium-6-by-9-60lb-cream;

.title-page h1 {
  font-size: 220%;
  margin-top: 9em;
}


.title-page h2 {
  font-size: 140%;
  margin-top: 4em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
