--- title: "Marxism-Leninism-Maoism: Basic Course"
<section class="back-face"></section>
<section class="spine">
  <div class="spine-text">MLM: Basic Course</div>
</section>
<section class="front-face">
  <div class="contents">
    <h1><b>M</b>arxism-<b>L</b>eninism-<b>M</b>aoism</h1>
    <h2><b>B</b>asic <b>C</b>ourse</h2>
  </div>
</section>
