@import "shared/reset";
@import "shared/common";
@import "shared/cover";

@include lulu-premium-6-by-9-60lb-cream($page-count: 146);

@page {
  background-color: #1a1515;
}

body {
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
}

b {
  font-size: 125%;
}

h1 {
  font-size: 19pt;
  margin-top: 1.9in;
}

h2 {
  font-size: 38.8pt;
  margin-bottom: 2in;
}

.spine-text {
  letter-spacing: 0.35em;
}

.contents {
  padding: 1in;
  text-align: center;
}
