<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body title="<%= short_title || title %>">
    <div id="chapter-page-top-left">
      <span class="page-number"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-title"></span>
    </div>
    <div id="chapter-page-top-right">
      <span class="section-title"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="page-number"></span>
    </div>
    <%= yield %>
  </body>
</html>
