@mixin lulu-premium-6-by-9-60lb-cream {
  @page {
    margin: 0.75in;
    margin-inside: 1in;
    size: 6in 9in;

    @top {
      margin-top: 0.25in;
    }
  }
}

@page {
  @footnotes {
    border-top: solid black thin;
    margin-top: 6pt;
    padding-top: 6pt;
  }
}

@page chapter:first {
  @top {
    content: normal;
  }
}

@page chapter:left {
  @top {
    content: flow(chapter-page-top-left);
    font-family: "Junicode", serif;
    font-size: 11pt;
  }
}

@page chapter:right {
  @top {
    content: flow(chapter-page-top-right);
    font-family: "Junicode", serif;
    font-size: 11pt;
  }
}

#chapter-page-top-left {
  prince-flow: static(chapter-page-top-left);
}

#chapter-page-top-right {
  prince-flow: static(chapter-page-top-right);
  text-align: right;
}

.page-number:after {
  content: counter(page);
}

.book-title:after {
  content: string(book-title);
  font-style: italic;
}

.section-title:after {
  content: string(section-title);
  font-style: italic;
}

body {
  font-size: 11pt;
  line-height: 1.15;
  string-set: book-title attr(title);
}

p {
  hyphens: auto;
  prince-footnote-policy: keep-with-line;
  prince-hyphenate-after: 5;
  prince-hyphenate-before: 5;
  prince-hyphenate-lines: 1;
}

p.quote {
  font-size: 10pt;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

p.no-indent {
  text-indent: 0 !important;
}

p.extra-indent {
  padding-left: 1em;
  text-indent: 1em !important;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

table {
  border: solid black thin;
  font-size: 10pt;
  margin: 1em 0;
  page-break-inside: avoid;
  width: 100%;
}

th {
  border-bottom: solid black medium;
}

td {
  border-top: solid black thin;
}

th,
td {
  border: none;
  border-right: 1px solid #000;
  padding: 0.2em 0.7em;
  text-align: left;
}

tr:first-child th,
tr:first-child td {
  padding-top: 0.4em;
}

tr:last-child th,
tr:last-child td {
  padding-bottom: 0.4em;
}

section {
  page-break-after: always;
}

*::footnote-marker {
  float: left;
  margin-left: 1em;
}

img {
  display: block;
  filter: grayscale(100%);
  margin: 1em auto;
  max-width: 100%;
  min-width: 50%;
}

hr {
  background-color: #000;
  border: none;
  color: #000;
  height: 1px;
  width: 100%;
}

.table-of-contents table {
  border: none;
  font-size: 11pt;
  margin: 0;
  page-break-inside: auto;
}

.table-of-contents td {
  border: none;
  page-break-inside: avoid;
}

.table-of-contents td.subtitle {
  font-size: 9pt;
  text-transform: uppercase;
  white-space: nowrap;
}

.table-of-contents td:last-child {
  text-align: right;
}

.table-of-contents a[href] {
  color: inherit;
  text-decoration: inherit;
}

.table-of-contents a[href]::after {
  content: target-counter(attr(href), page);
}

.title-page {
  text-align: center;
}

.chapter {
  page: chapter;
  string-set: section-title attr(title);
  text-align: justify;

  p:not(:first-of-type) {
    text-indent: 1em;
  }
}

.chapter,
.table-of-contents {
  header {
    padding-bottom: 0.2in;
    page-break-after: avoid;
    prince-page-group: start;
    text-align: center;
  }

  header h1 {
    font-size: 115%;
    letter-spacing: 0.15em;
    padding-bottom: 0.2in;
    text-transform: uppercase;
  }

  header h2 {
    font-size: 140%;
    padding-bottom: 0.2in;
  }

  header > *:first-child {
    padding-top: 0.4in;
  }

  header hr {
    margin-bottom: 0.2in;
  }
}

.fn {
  counter-increment: footnote;
  display: prince-footnote;
  font-size: 9pt !important;
  footnote-style-position: inside;
  letter-spacing: 0 !important;
  text-align: justify;
  text-indent: 0 !important;
  text-transform: none !important;

  > span {
    display: block;
  }

  > span + span {
    text-indent: 1em;
  }
}

.insignia {
  background: url(../shared/images/stars.svg) no-repeat;
  font-size: 7pt;
  height: 0.125in;
  letter-spacing: 0.5em;
  margin: 2em auto;
  width: 0.5in;
}
