@mixin lulu-premium-6-by-9-60lb-cream($page-count) {
  $spine-width: 0.16216666666pt * $page-count;

  @page {
    margin: 0;
    size: ((6.125in * 2) + $spine-width) 9.25in;
  }

  .back-face,
  .spine,
  .front-face {
    bottom: 0.125in;
    top: 0.125in;
  }

  .back-face,
  .front-face {
    height: 9in;
    width: 6in;
  }

  .back-face {
    left: 0.125in;
  }

  .spine {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    width: $spine-width;
  }

  .front-face {
    right: 0.125in;
  }
}

// `@include` this in cover stylesheets to more accurately refine positions and
// alignment:
@mixin cover-debug {
  .back-face,
  .spine,
  .front-face {
    &:before {
      border: 1px solid cyan;
      bottom: 0;
      content: " ";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

body {
  font-size: 14pt;
}

.back-face,
.spine,
.front-face {
  overflow: hidden;
  position: fixed;

  &:empty:after {
    content: " ";
  }
}

.back-face,
.front-face {
  z-index: 1;
}

.spine {
  z-index: 2;
}

.spine-text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  white-space: nowrap;
}
