--- title: "Long Live Leninism!"
<section class="back-face"></section>
<section class="spine">
  <div class="spine-text">Long Live Leninism!</div>
</section>
<section class="front-face">
  <div class="contents">
    <h1>Long Live Leninism!</h1>
    <h2><b>T</b>he <b>E</b>ditorial <b>D</b>epartment of “<b>H</b>ongqi”</h2>
  </div>
</section>
