--- title: "Foundations of Leninism"
<section class="back-face"></section>
<section class="spine">
  <div class="spine-text">Foundations of Leninism</div>
</section>
<section class="front-face">
  <div class="contents">
    <h1>Foundations of Leninism</h1>
    <h2><b>J</b>. <b>V</b>. <b>S</b>talin</h2>
    <img src="images/stalin.svg">
  </div>
</section>
