@import "shared/reset";
@import "shared/common";
@import "shared/cover";

@include lulu-premium-6-by-9-60lb-cream($page-count: 90);

@page {
  background-color: #eddabb;
}

body {
  color: #4f382a;
  line-height: 1.1;
  font-weight: bold;
}

b {
  font-size: 125%;
}

.spine-text {
  font-size: 9pt;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.contents {
  border: 0.05in solid #bf5139;
  bottom: 0.25in;
  left: 0.25in;
  padding: 0.75in;
  position: absolute;
  right: 0.25in;
  text-align: center;
  top: 0.25in;
}

h1 {
  font-size: 32pt;
  margin-top: 1.85in;
}

h2 {
  font-size: 18pt;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  text-transform: uppercase;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
