--- title: "History of the CPSU(B)"
<section class="back-face"></section>
<section class="spine">
  <div class="spine-text">History of the Communist Party of the Soviet Union (Bolsheviks)</div>
</section>
<section class="front-face">
  <div class="contents">
    <h1>History of the Communist Party of the Soviet Union (Bolsheviks)</h1>
    <h2><b>U.S.S.R.</b></h2>
    <img src="images/ussr.svg">
  </div>
</section>
